<%- include('./base/header.ejs') %>
<div class="container">
    <div class="alert bg-success my-3">
       <h3 class="text-center" style="color:white">Add New Student</h3>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <form action="/add/student" method="POST">
                <div>
                    <label class="form-label">Roll No</label>
                    <input type="text" name="rollNo" class="form-control">
                </div>
                <div>
                    <label class="form-label">First Name</label>
                    <input type="text" class="form-control">
                </div>
                <div>
                    <label class="form-label">Last Name</label>
                    <input type="text" name="lastName" class="form-control">
                </div>
                <div>
                    <label class="form-label">Father Name</label>
                    <input type="text" name="fatherName" class="form-control">
                </div>
                <div>
                    <label class="form-label">Adhar Card No</label>
                    <input type="text" name="adharCardNo" class="form-control">
                </div>
                <div>
                    <label class="form-label">Mobile No</label>
                    <input type="text" name="mobileNo" class="form-control">
                </div>
                <input type="submit" value="Add Student" class="btn btn-warning w-60 my-3">
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
<%- include('./base/footer.ejs') %>
